/* ========= PRE-FORMATTING STRIPPING ========== */
 body {
   font-family:"Rokkitt", Helvetica, Arial, serif;
   color:#333333;
   background-color: #FFFFFF;
 }
 h1, h2, h3, h4, h5, h6, .sigprinted, .logotitles{
   font-family: "Exo 2", Helvetica, Arial, sans-serif;
   font-size: 2.5vh;
   margin: 0;
   padding: 0;
 }

h1 {
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 3vw;
  font-size: 2em;
}

h2 {
  font-size: 5.75vw;
}

h3 {font-size: 2.5vw;}
h4 {font-size: 2.25vw;}
h5 {font-size: 2vw;}
h6 {font-size: 2vw;}

p {
   line-height: 19px;
   font-weight: 100;
   margin: 0;
   padding: 0;
 }

 ul{
   padding: 0;
   margin: 0;
   list-style: none;
   display: inline-block;
 }

div {
  padding: 0;
  margin: 0;
}

/* ========= FRONT CARD PROPERTIES ============== */
.icons{
  clear: both;
  width: 8vh;
}

.centerparent{
  display: inline;
  position: relative;
}

.centerit {
  opacity: inherit;
  text-align: center;
  width: 100%;
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  font-size: 2vh;
}

.card-front {
  width: 98vw;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(4, 24vw);
  grid-auto-rows: 24vw;
  margin: auto;
  margin-top: 2vh;
  border: 0;
}

  #sig {
    position: relative;
    float: left;
    width: 30vh;
    padding-left: 5%;
  }

  .sigprinted {
    position: relative;
    clear: left;
    float: left;
    left: 1%;
    padding-top: -1vh;
  }

  .logotitles {
    clear: both;
    padding-top: 1vh;
    font-size: 2.2vh;
  }

/* ========= EXPANDED CARD PROPERTIES ======== */
.card-expanded li{
  display: none;
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  overflow-y: scroll;
}

.card-expanded li::-webkit-scrollbar {
    display: none;
}

.unopacify, .opacify {
  opacity: 0;
}

h2, .sigprinted{
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

.card-expanded #sig {
  width: 165px;
  padding-bottom: 2.2vw;
}

.card-expanded .sigprinted {
  padding-top: 25px;
  font-size: 1.2em;
}

.sectitle {
  padding-top: 20px;
  padding-bottom: 15px;
}

.imgpara img {
   width: 75px;
   float: left;
   padding-right: 20px;
   padding-bottom: 10px;
 }

.imgpara {
  clear: both;
  padding: 20px 3vw 20px;
}

.imgpara p {
  padding-left: 95px;
}

.case-pageview {
  width: 98vw;
}


.ex_about{background-color: #F3F3F3;}
.ex_hh {background-color: #D4F4CF;}


.drk1, .drk2, .drk3, .drk4, .drk5, .drk6, .drk7 {
  background-color: #E8E8E8;
}

.med1, .med2, .med3, .med4, .med5, .med6 {
  background-color: #F5F5F5;
}

.c_sig {
  grid-area: 1 / 1 / 3 / 5;
  background-color: #FCFCFC;
}

.c_abt, .c_hlp, .c_crn, .c_apt {
  background-position: center;
  background-size: cover;
}

.c_abt {
  grid-area: 3 / 1 / 5 / 3;
  background-image: url("../images/bg_port.jpg");
}
.c_hlp {
  grid-area: 7 / 3 / 11 / 5;
  background-image: url("../images/bg_hh.jpg");
}
.c_crn {
  grid-area: 11 / 1 / 15 / 5;
  background-image: url("../images/bg_corn.jpg");
}
.c_apt {
  grid-area: 5 / 1 / 7 / 5;
  background-image: url("../images/bg_an.jpg");
}



.drk1 {grid-area: 3 / 4 / 4 / 5;}
.drk2 {grid-area: 4 / 3 / 5 / 4;}
.drk3 {grid-area: 7 / 1 / 8 / 2;}
.drk4 {grid-area: 10 / 2 / 11 / 3;}
.drk5 {display: none;}
.drk6 {display: none;}
.drk7 {display: none;}

.med1 {grid-area: 4 / 4 / 5 / 5;}
.med2 {grid-area: 8 / 1 / 10 / 3;}
.med3 {display: none;}
.med4 {display: none;}
.med5 {display: none;}
.med6 {display: none;}

/* =============== RESPONSIVE DESIGN ============== */
@media (min-width: 500px) {

  h2, #sig{
    padding-top:2vh;
  }

#sig {
  padding-right: 5%;
}

  .icons {
    width: 14vh;
  }

  .card-front {
    width: 90vw;
    margin-top: 5vh;
    grid-template-columns: repeat(6, 15vw);
    grid-auto-rows: 15vw;
  }

  /* ====== ABOUT ME ====== */
  .centerit{
    padding-top:2.5vh;
  }

  .case-pageview {
    width: 90vw;
  }


  .c_abt {grid-area: 3 / 1 / 5 / 3;}
  .c_hlp {grid-area: 3 / 5 / 7 / 7;}
  .c_crn {grid-area: 5 / 1 / 9 / 5;}
  .c_apt {grid-area: 9 / 3 / 11 / 7;}

  .drk1 {grid-area: 2 / 5 / 3 / 6;}
  .drk2 {grid-area: 7 / 5 / 8 / 6;}
  .drk3 {grid-area: 8 / 6 / 9 / 7;}
  .drk4 {grid-area: 9 / 2 / 10 / 3;}
  .drk5 {display: none;}
  .drk6 {display: none;}
  .drk7 {display: none;}

  .med1 {grid-area: 1 / 5 / 2 / 6;}
  .med2 {grid-area: 2 / 6 / 3 / 7;}
  .med3 {grid-area: 3 / 3 / 5 / 5; display: inherit;}
  .med4 {grid-area: 7 / 6 / 8 / 7; display: inherit;}
  .med5 {grid-area: 9 / 2 / 10 / 3 display: inherit;}
  .med6 {display: none;}
}


@media (min-width: 800px) {

  /* ====== ABOUT ME ====== */
  .centerit{
    padding-top:5vh;
  }

  .logotitles {
    clear: both;
    padding-top: 3vh;
    font-size: 2.2vh;
  }

.card-front {
  grid-template-columns: repeat(8, 11.25vw);
  grid-auto-rows: 12vw;
}


.c_abt {grid-area: 3 / 7 / 5 / 9;}
.c_hlp {grid-area: 2 / 5 / 6 / 7;}
.c_crn {grid-area: 6 / 5 / 10 / 9;}
.c_apt {grid-area: 6 / 1 / 8 / 5;}

.drk1 {grid-area: 1 / 5 / 2 / 6;}
.drk2 {grid-area: 3 / 1 / 5 / 3;}
.drk3 {grid-area: 3 / 4 / 4 / 5;}
.drk4 {grid-area: 5 / 8 / 6 / 9; display: inherit;}
.drk5 {grid-area: 8 / 2 / 9 / 3; display: inherit;}
.drk6 {display: none;}
.drk7 {display: none;}

.med1 {grid-area: 1 / 6 / 2 / 7;}
.med2 {grid-area: 2 / 7 / 3 / 8;}
.med3 {grid-area: 4 / 3 / 6 / 5; display: inherit;}
.med4 {grid-area: 5 / 1 / 6 / 2; display: inherit;}
.med5 {grid-area: 5 / 7 / 6 / 8; display: inherit;}
.med6 {grid-area: 8 / 3 / 10 / 5; display: inherit;}


}


@media (min-width: 1300px) {

  .sectitle {
    padding-bottom: 3vw;
  }

  .card-front {
    grid-template-columns: repeat(10, 9vw);
    grid-auto-rows: 9vw;
  }

  .c_abt {grid-area: 2 / 7 / 4 / 9;}
  .c_hlp {grid-area: 2 / 5 / 6 / 7;}
  .c_crn {grid-area: 4 / 7 / 8 / 11;}
  .c_apt {grid-area: 5 / 1 / 7 / 5;}

  .drk1 {grid-area: 1 / 5 / 2 / 6;}
  .drk2 {grid-area: 2 / 9 / 3 / 10;}
  .drk3 {grid-area: 3 / 10 / 4 / 11;}
  .drk4 {grid-area: 3 / 1 / 5 / 3;}
  .drk5 {grid-area: 3 / 4 / 4 / 5;}
  .drk6 {grid-area: 7 / 2 / 8 / 3; display: inherit;}
  .drk7 {grid-area: 7 / 4 / 8 / 5; display: inherit;}

  .med1 {grid-area: 1 / 8 / 2 / 9;}
  .med2 {grid-area: 3 / 9 / 4 / 10;}
  .med3 {grid-area: 4 / 3 / 5 / 4;}
  .med4 {grid-area: 7 / 3 / 8 / 4;}
  .med5 {grid-area: 6 / 5 / 8 / 7;}
  .med6 {display: none;}


}
