/* ========= PRE-FORMATTING STRIPPING ========== */
 body {
   overflow: hidden;
   font-family:"Rokkitt", Helvetica, Arial, serif;
   color:#333333;
   background-color: #FFFFFF;
 }
 h1, h2, h3, h4, h5, h6, .sigprinted, .logotitles{
   font-family: "Exo 2", Helvetica, Arial, sans-serif;
   font-size: 2.5vh;
   margin: 0;
   padding: 0;
 }

h1 {
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 3vw;
  font-size: 2em;
}

h2 {
  font-size: 5.75vw;
}

h3 {font-size: 2.5vw;}
h4 {font-size: 2.25vw;}
h5 {font-size: 2vw;}
h6 {font-size: 2vw;}

p {
   line-height: 19px;
   font-weight: 100;
   margin: 0;
   padding: 0;
 }

 ul{
   padding: 0;
   margin: 0;
   list-style: none;
   display: inline-block;
 }

div {
  padding: 0;
  margin: 0;
}

/* ========= FRONT CARD PROPERTIES ============== */
.icons{
  clear: both;
  width: 8vh;
}

.centerparent{
  display: inline;
  position: relative;
}

.centerit {
  opacity: inherit;
  text-align: center;
  width: 100%;
  height: calc(93vh/6);
  font-family: "Exo 2", Helvetica, Arial, sans-serif;
  font-size: 2vh;
}

.card-front {
  width: 98vw;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 0px;
  grid-template-columns: repeat(2, calc(98vw/2));
  grid-auto-rows: calc(93vh/6);
  margin: auto;
  margin-top: 2vh;
  border: 0;
}

.card-front li:nth-child(1) {
  position: relative;
  background-color: #FFFFFF;
  grid-column: span 2;
}

.card-front li:nth-child(2) {
  background-color: #FCFCFC;
}

  #sig {
    position: relative;
    float: left;
    width: 30vh;
    padding-left: 5%;
  }

  .sigprinted {
    position: relative;
    clear: left;
    float: left;
    left: 1%;
    padding-top: -1vh;
  }

  .logotitles {
    clear: both;
    padding-top: 1vh;
    font-size: 2.2vh;
  }

.card-front li:nth-child(3) {
  background-color: #FBFBFB;
}

.card-front li:nth-child(4) {
  background-color: #FCFCFC;
}

.card-front li:nth-child(5) {
  background-color: #FFFFFF;
}

.card-front li:nth-child(6) {
  background-color: #FBFBFB;
}

.card-front li:nth-child(7) {
  background-color: #FFFFFF;
}

.card-front li:nth-child(8) {
  background-color: #FBFBFB;
}

.card-front li:nth-child(9) {
  background-color: #FCFCFC;
}

.card-front li:nth-child(10) {
  background-color: #FFFFFF;
}

.card-front li:nth-child(11) {
  background-color: #FDFDFD;
}


/* ========= EXPANDED CARD PROPERTIES ======== */
.card-expanded li{
  display: none;
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  overflow-y: scroll;
}

.card-expanded li::-webkit-scrollbar {
    display: none;
}

.unopacify, .opacify {
  opacity: 0;
}

.card-expanded li:nth-child(1) { background-color: #FFFFFF; }
.card-expanded li:nth-child(2) { background-color: #FCFCFC; }
.card-expanded li:nth-child(3) { background-color: #FBFBFB; }
.card-expanded li:nth-child(4) { background-color: #FCFCFC; }
.card-expanded li:nth-child(5) { background-color: #FFFFFF; }
.card-expanded li:nth-child(6) { background-color: #FBFBFB; }
.card-expanded li:nth-child(7) { background-color: #FFFFFF; }
.card-expanded li:nth-child(8) { background-color: #FBFBFB; }
.card-expanded li:nth-child(9) { background-color: #FCFCFC; }
.card-expanded li:nth-child(10) { background-color: #FFFFFF; }
.card-expanded li:nth-child(11) { background-color: #FDFDFD; }

h2, .sigprinted{
  font-weight: normal;
  margin-bottom: 5px;
  text-align: center;
}

.card-expanded #sig {
  width: 165px;
  padding-bottom: 2.2vw;
}

.card-expanded .sigprinted {
  padding-top: 25px;
  font-size: 1.2em;
}

.sectitle {
  padding-top: 20px;
  padding-bottom: 15px;
}

.imgpara img {
   width: 75px;
   float: left;
   padding-right: 20px;
   padding-bottom: 10px;
 }

.imgpara {
  clear: both;
  padding: 20px 3vw 20px;
}

.imgpara p {
  padding-left: 95px;
}

/* =============== RESPONSIVE DESIGN ============== */
@media (min-width: 500px) {
  .card-front {
    grid-template-columns: repeat(3, calc(90vw/3));
    grid-auto-rows: calc(93vh/4);
  }
  h2, #sig{
    padding-top:2vh;
  }

#sig {
  padding-right: 5%;
}

  .icons {
    width: 14vh;
  }

  .card-front {
    width: 90vw;
    margin-top: 5vh;
  }

  /* ====== ABOUT ME ====== */
  .centerit{
    padding-top:2.5vh;
  }

}


@media (min-width: 800px) {
  .card-front {
    grid-template-columns: repeat(4, calc(90vw/4));
    grid-auto-rows: calc(93vh/3);
  }

  /* ====== ABOUT ME ====== */
  .centerit{
    padding-top:5vh;
  }

  .logotitles {
    clear: both;
    padding-top: 3vh;
    font-size: 2.2vh;
  }

}


@media (min-width: 1300px) {
  .card-front {
    grid-template-columns: repeat(5, calc(90vw/5));
    grid-auto-rows: calc(93vh/3);
  }

  .sectitle {
    padding-bottom: 3vw;
  }
}
