/* ========= PRE-FORMATTING STRIPPING ========== */
body{
   overflow-x: hidden;
 }
 body {
   font-family: Helvetica, Arial, sans-serif;
   color:#333333;
   background-color: #FFFFFF;
   font-size: small;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
 }

 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }

 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
   margin: 0;
   padding: 0;
 }

 ul{
   padding: 0;
   margin: 0;
   list-style: none;
   display: inline-block;
 }

div {
  padding: 0;
  margin: 0;
  display: inline-block;
}


/* ========= FRONT CARD PROPERTIES ============== */
.card-front {
  width: 80vw;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 0px;
  grid-template-columns: repeat(2, calc(80vw/2));
  grid-auto-rows: calc(80vw/2);
  margin: auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
  border: 0;
}

.card-front li:nth-child(1) {
  background-color: #193752;
  grid-column: span 2; }

.card-front li:nth-child(2) {
  background-color: #496739;
  grid-column: span 2; }

.card-front li:nth-child(3) {
  background-color: #926583;
  grid-row: span 2; }


.card-front li:nth-child(4) {
  background-color: #482653;
  grid-row: span 2; }

.card-front li:nth-child(5) {
  background-color: #695735; }

.card-front li:nth-child(6) {
  background-color: #927593;
  grid-column: span 2; }

.card-front li:nth-child(7) {
  background-color: #307283; }


/* ========= EXPANDED CARD PROPERTIES ======== */
.card-expanded li{
  display: none;
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
}

.card-expanded li:nth-child(1) { background-color: #193752; }
.card-expanded li:nth-child(2) { background-color: #496739; }
.card-expanded li:nth-child(3) { background-color: #926583; }
.card-expanded li:nth-child(4) { background-color: #482653; }
.card-expanded li:nth-child(5) { background-color: #695735; }
.card-expanded li:nth-child(6) { background-color: #927593; }
.card-expanded li:nth-child(7) { background-color: #307283; }


/* =============== RESPONSIVE DESIGN ============== */
@media (min-width: 500px) {
  .card-front {
    grid-template-columns: repeat(3, calc(80vw/3));
    grid-auto-rows: calc(80vw/3);
  }
}

@media (min-width: 800px) {
  .card-front {
    grid-template-columns: repeat(4, calc(80vw/4));
    grid-auto-rows: calc(80vw/4);
  }
}
